name: test and deploy

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  deploy:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'corretto'
          cache: 'maven'
          server-id: sagebionetworks
          server-username: MAVEN_USERNAME
          server-password: MAVEN_USERPWD
      - name: deploy
        run: mvn -B deploy
        env:
          MAVEN_USERNAME: ${{ secrets.PLATFORM_ARTIFACTORY_USER }}
          MAVEN_USERPWD: ${{ secrets.PLATFORM_ARTIFACTORY_PWD }}
  test:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'corretto'
          cache: 'maven'
      - name: test
        run: mvn -B test
